*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root[theme="dark"] {
  --image-background-dark: url(./images/bg-desktop-dark.jpg);
  --background-color-dark: #181824;
  --text-color-dark: hsl(234, 39%, 85%);
  --background-input-dark: #25273c;
  --border-color-dark: #303247;
  --borderbott-color-dark: hsl(233, 14%, 35%);
  --hover-color-dark: #f3f6ff;
  
}
:root[theme="light"] {
	--image-background-dark: url(./images/bg-desktop-light.jpg);
	--background-color-dark: #fafafa;
	--text-color-dark: hsl(234, 11%, 52%);
	--background-input-dark: #fff;
	--border-color-dark: #e4e4e6;
	--borderbott-color-dark: hsl(234, 39%, 85%);
	--hover-color-dark: #000;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
input, textarea, button {
  font: inherit;
  font-size: inherit;
}
.mb-30{
  margin-bottom: 30px;
}
.mr-10{
  margin-right: 10px;
}
.section{
  width: 100%;
  min-height: 100vh;
  background-image: var(--image-background-dark);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--background-color-dark);
}
.main{
  width: 30%;
  margin: 150px 0;
}
.application{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.application-name{
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
}
.event{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-input-dark);
}
.checkbox{
  margin-left: 20px;
  width: 21px;
  height: 21px;
  border: 1px solid var(--border-color-dark);
  border-radius: 50%;
  position: relative;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  opacity: 0;
}
input:focus{
  outline: none;
}
.inp-event{
  width: 90%;
  margin: 15px;
  background-color: var(--background-input-dark);
  border: none;
  font-size: 18px;
  color: var(--text-color-dark);
}
.borbott{
  border-bottom: 1px solid var(--border-color-dark);
}
.img-delete{
  width: 15px;
  height: 15px;
}
.button-del{
  opacity: 0;
  width: 15px;
  height: 15px; 
  border: none;
  margin-right: 20px;
  background: transparent;
  cursor: pointer;
}
button{
  outline: none;
}
.functional-event{
  display: flex;
  justify-content: space-between;
  background-color: var(--background-input-dark);
  color: #5f617a;
  padding: 10px 20px;
  font-size: 13px;
}
.footer{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: #5f617a;
  font-size: 13px;
}
.img-check{
  opacity: 0;
  width: 10px;
  height: 10px;
  transform: translateY(5px) translateX(5px);
  position: absolute;
}
.opasity{
  opacity: 1;
}
.performed{
  text-decoration: line-through;
  color: #46485d;
}
.list-reverse{
  display: flex;
  flex-direction: column-reverse;
}
.check-form{
  width: 20px;
  height: 20px;
}
.display-none{
  display: none;
}
input[type="radio"]{
  opacity: 0;
}
.active-filter{
  color: hsl(220, 98%, 61%);
}
label[name="filterName"]:hover {
  color: var(--hover-color-dark);
  cursor: pointer;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
.btnClearCompleted{
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #5f617a;
  font-size: 12px;
}
.btnClearCompleted:hover {
  color: var(--hover-color-dark);
}
.display-none{
  display: none;
}
.event:hover .button-del{
  opacity: 1;
}
.backgroundCheck{
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.shadow{
	box-shadow: 0px 0px 25px #191919;
	overflow: auto;
	border-radius: 5px;
}
.btn-change-theme{
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 0px;
}

/*---------Media query----------*/

@media screen and (max-width: 1024px) {
	.main{
		width: 40%;
	}
	.section{
		background-size: inherit; 
	}
}
@media screen and (max-width: 768px) {
	.main{
		width: 55%;
	}
}
@media screen and (max-width: 425px) {
	.main{
		width: 85%;
	}
	.functional-event{
		position: relative;
	}
	form[name="filterSettings"] {
		position: absolute;
		top: 65px;
		left: 0px;
		display: flex;
		justify-content: center;
		width: 100%;
		font-size: 18px;
		padding: 20px;
		border-radius: 10px;
		background-color: var(--background-input-dark);
		box-shadow: 0px 0px 25px #191919;
	}
	label[name="filterName"] {
		margin: 0 15px;
	}
	.footer{
		position: relative;
	}
	.footer > p {
		position: absolute;
		top: 100px;
	}
	.shadow{
		overflow: visible;
	}
}